.Nav-bar{
    background: black;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;

    .logo {
        display: block;
        padding: 8px 0;

        img {
            display: block;
            margin: 8px auto;
            width: 60px;
            height: auto;

            &.sub-logo {
                width: 50px;
            }
        }
    }
    nav {
        display: block;
        position: absolute;
        top: 50%;
        text-align: center;
        height: 210px;
        margin-top: -120px;
        width: 100%;
    
        a {
            display: block;
            position: relative;
            color: #4d4d4e;
            line-height: 51px;
            height: 51px;
            font-size: 22px;
            text-decoration: none;
    
            i {
                transition: all 0.3s ease-out;
            }
    
            &:hover {
                color: #ffd700;
    
                svg {
                    opacity: 0;
                }
    
                &::after {
                    opacity: 1;
                }
            }
    
            &::after {
                content: '';
                position: absolute;
                font-size: 9px;
                letter-spacing: 2px;
                opacity: 0;
                transition: all 0.3s ease-out;
                width: 100%;
                bottom: 0;
                text-align: center;
                display: block;
            }
    
            &:first-child {
                &::after {
                    content: 'HOME';
                }
            }
        }
        
        a.about-link {
            &::after {
                content: 'ABOUT';
            }
        }

        a.contact-link {
            &::after {
                content: 'CONTACT';
            }
        }

        a.active {
            svg {
                color: #ffd700;
            }
        }
    }
    ul {
        position: absolute;
        bottom: 40px;
        width: 100%;
        text-align: center;
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;

        li {
            a {
                padding: 7px 0;
                display: block;
                font-size: 15px;
                line-height: 16px;

                &:hover svg {
                    color: #ffd700;
                }
            }
        }
    }
}