$tabsm-width: 768px;
$tablg-width: 992px;
$desktop-width: 1200px;

@mixin mobile { @media (max-width: #{$tabsm-width - 1px}) {
  @content;
}}

@mixin tabsm { @media (min-width: #{$tabsm-width}) and (max-width: #{$tablg-width - 1px}) {
  @content;
}}

@mixin tablg { @media (min-width: #{$tablg-width}) and (max-width: #{$desktop-width - 1px}) {
  @content;
}}

@mixin desktop { @media (min-width: #{$desktop-width}) {
  @content;
}}

.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;

    @include mobile {
      width: 120px;
      height: 165px;
      margin: 0;
      top: 370px;
      left: 60%;
    }

    @include tabsm{
      width: 250px;
      height: 405px;
      right: 10%;
    }
    @include tablg{
      width: 320px;
      height: 502px;
      right: 14%;
    }
    // opacity: 0;
    position: absolute;
    top: 0;
    right: 13%;
    bottom: 0;
    left: auto;
    margin: auto;
  
    svg {
      width: 100%;
      height: auto;
      bottom: 0;
      transform: rotateZ(30deg) !important;
    }
  
    .solid-logo {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      width: 100%;
      // opacity: 0;
      transform: rotateZ(30deg);
      z-index: 1;
    }
  }

.svg-container {
    stroke: #ffd700;
    stroke-width: 10;
}

